@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

    .form-control:focus{
        border-color: #424141;  
        box-shadow: none; 
        -webkit-box-shadow: none;
    } 
    .has-error .form-control:focus{
        box-shadow: none; 
        -webkit-box-shadow: none;
    }